canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}

#background {
  z-index: -2;
}

#monster {
  z-index: -1;
}

#avatar {
  z-index: 0;
}

#text {
  z-index: 1;
}

.Game {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 765px;
}

.lives {
  position: absolute;
  top: 55px;
  left: 630px;
  color: #000000;
  font-family: 'VT323', sans-serif;
  font-size: 50px;
  cursor: default;
}

.question {
  position: absolute;
  top: 360px;
  left: 0px;
  color: #FF9900;
  font-family: 'VT323', sans-serif;
  font-size: 50px;
  cursor: default;
}

.answer {
  position: absolute;
  top: 420px;
  left: 0px;
  color: #FF9900;
  font-family: 'VT323', sans-serif;
  font-size: 50px;
  cursor: default;
}

.loading {
  position: absolute;
  top: 118px;
  left: 280px;
  color: #FF9900;
  font-family: 'VT323', sans-serif;
  font-size: 50px;
  cursor: default;
}

.loadingImage {
  position: absolute;
  top: 170px;
  left: 360px;
  content:url('../../../Resources/Game/Sprites/load.gif');
}