/*http://www.colourlovers.com/palette/148712/Gamebookers*/
body {
	background-image: url('../../Resources/Backgrounds/black_thread.png');
	color: rgb(255,153,0);
	font-family: 'Share Tech Mono', sans-serif;
	margin: 0;
	padding: 0;
	display: block;
}

header {
	/*background-color: rgb(66,66,66);*/
	background-image: url('../../Resources/Backgrounds/black_linen_v2.png');
	margin-bottom: 50px;
	border-bottom: .1em ridge rgb(188,188,188);
}

#fbLogin {
	display: inline;
}

#facebook {
	text-align: center;
}

.content {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	border: .3em ridge rgb(233,233,233);
	background-image: url('../../Resources/Backgrounds/type.png');
}

section {
	padding-left: 1em;
	padding-right: 1em;
}

article {
	padding-left: 1em;
	padding-right: 1em;
}

h1,h2,.makeHeader1 {
	font-family: 'VT323', cursive;
}

h1,.makeHeader1 {
	font-size: 4em;
	padding: 0em;
	margin: .5em;
	color: rgb(255,153,0);
	font-weight: normal;
	text-align: center;
}

.makeHeader1 {
	font-size: 2em;
	height: 40px;
	/*width: 500px;*/
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	cursor: pointer;
  	font-weight: normal;
  	display: inline;
  	padding: 0px 5px 10px 10px;
}

.makeHeader1:hover {
	border: 2px inset rgb(50,153,187);
}

.makeHeader1:active {
	border: 2px outset rgb(255,153,0);
	color: rgb(50,153,187);
	background-color: rgb(233,233,233);
}

input,select,button,select {
	background-color: rgb(66,66,66);
	color: rgb(255,153,0);
	border-color: rgb(50,153,187);
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
}

input:focus,select:focus {
	border-color: rgb(255,153,0);
}

button:hover,.submitButton:hover,select:hover {
	background-color: rgb(77,77,77);
	color: rgb(255,153,0);
	border-color: rgb(50,153,187);
	border-style: inset;
}

button:active,.submitButton:active {
	background-color: rgb(233,233,233);
	color: rgb(50,153,187);
	border-color: rgb(255,153,0);
	border-style: outset;
}

h2 {
	font-size: 2em;
	padding: 0em;
	margin: .5em;	
	font-weight: normal;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	padding: 0em;
	margin: .5em;
	font-weight: normal;
	text-align: center;
}

.navbar button {
	margin-right: 0px;
	margin-left: 0px;
}

.navbar #logOut {
	margin-left: 2em;
}

#titles {
	width: 900px;
	margin-left: 0px;
	margin-right: auto;
	text-align: center;
	margin-top: 200px;
	padding-bottom: 225px;
}

#createAccountSection {
	float: right;
	margin-top: -2.5%;
	text-align: right;
}

#createAccountSection td:nth-child(2) {
	text-align: left;
}

#createAccountSection h2{
	text-align: center;
}

#createAccountSection label{
	padding-right: 20px;
}

#logInSection {
	float: right;
}

.navbar {
	float: right;
	margin-right: .5em;
}

footer {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: .8em;
	border-top:  .1em ridge rgb(66,66,66);
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}

a {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: .75em;
	color: rgb(50,153,187);
	vertical-align: text-top;
	padding-left: .25em;
}

a:visited {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: .75em;
	color: rgb(188,188,188);
}

a:active {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: .75em;
	color: rgb(10,113,147);
}

p {
	display: inline;
	padding-left: 1em;
	font-size: 1em;	
}

#resetPasswordTd {
	margin-top: -.25em;
}

input,label,select {
	margin-bottom: 1em;
}

#GENDER,#GRADE,#SIGNUP {
	text-align: left;
	padding-left: .6em;
}

[type="text"],[type="email"],[type="password"] {
	height: 22px;
	width: 172px;
	margin-bottom: 10px;
	word-wrap:break-word;
}

#logIn [type="text"],#logIn [type="email"],#logIn [type="password"] {
	margin-bottom: 0px;
}

.submitButton,select,button {
	height: 27px;
	margin-top: 1px;
}

#headerLogo {
	height:5em;
	width:10em;
	padding-left:.5em;
	cursor: pointer;
}

#headerLogoIndex {
	height:5em;
	width:10em;
	padding-left:.5em;
}

header label,input {
	margin-bottom: 0em;
}

input,select {
	font-family: 'Share Tech Mono', sans-serif;
}

#grade {
	margin-top: 10px;
}

#logIn table tr:nth-child(2) td:nth-child(3),#logIn table tr:nth-child(2) td:nth-child(4){
	vertical-align: top;
}

#logInButton {
	padding-top: 3px;
	height: 24px;
}

input::-webkit-input-placeholder {
	color: rgb(188,188,188);
}

#female + label {
	padding: 0px;
	margin: 0px;
}

.directions {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}

.directions h3 {
	margin-bottom: 100px;
}
.directions h1 {
	margin-top: 50px;
	margin-bottom: 150px;
	border: 6px inset rgb(50,153,187);
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	background-color: rgb(36,36,36);
}

header {
	padding-bottom: 5px;
	padding-top: 5px;
}

.submitButton,button {
	margin: 3px;
}

#submitCard {
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-bottom: 25px;
	position: relative;
	width: 100%;
	/*left: 10px;*/
}

#submitCard table {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	width: 75%;
}

#submitCard td input {
	/*padding-left: 15px;
	text-align: center;*/
	/*display:block;*/
}

.error {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	text-align: center;
}

#Error {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
}

#redirections {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

#CreateDeckHeading {
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	text-align: center;
}

#deckCreate {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

#nameDeck {
	margin-left: 3px;
	margin-bottom: 20px;
}

#innerContent {
	margin-right: auto;
	margin-left: auto;
	width: 98%;
}

#deckDisplayHeading {
	margin-left:auto;
	margin-right: auto;
	width: 40%;
	text-align: center;
}

.charLimitDiv {
	width: 3em;
	display: inline-block;
}

#cardTable tr:nth-child(2) {
	vertical-align: top;
}

.charLimit {
	font-size: .75em;
	color: rgb(255,110,0);
}

.num {
	margin-right: -.6em;
}

#cardTable [type="text"],#cardTable [type="email"],#cardTable [type="password"] {
	margin-bottom: .25em;
}

.special {
	margin-bottom: 1.25em;
}

/*\	
|*|		:: >>The following is the CSS for how a card will be displayed in create a card<< ::		
\*/

.card,#card {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.25em;
	-moz-border-radius: 18px;
  	-webkit-border-radius: 18px;
  	border:5px ridge rgb(188,188,188);
	background-color: rgba(0,113,147,.25);		
	font-family: "VT323", cursive;
	display: none;
}

.cardDifficulty,#cardDifficulty {
	display: block;
}

.cardTitles,#cardTitles {
	border-bottom:2px groove rgb(188,188,188);
	background-color:rgba(0,113,147,.45);
	margin:-10px;
	-moz-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-top-right-radius: 12px;
	-webkit-border-top-left-radius: 12px;
}

.cardCategory,#cardCategory {
	position:relative;
	display:inline-block;
	font-size:3em;
	word-wrap:break-word;			
}

.cardSubcategory,#cardSubcategory {
	position:relative;
	display:inline-block;
	font-size:2.25em;
	word-wrap:break-word;
}

.cat{
	margin-top:-5px;
	margin-bottom:10px;
}

.cardQuestion,#cardQuestion {
	position:relative;
	font-size:1.75em;
	margin-top:40px;
	margin-bottom:50px;
	margin-left:40px;
	margin-right:40px;
	text-align:center;
	word-wrap:break-word;
}

.cardAnswer,#cardAnswer {
	position:relative;
	font-size:1.25em;
	border:4px outset rgb(233,233,233);
	padding:10px;
	background-color: rgba(0,113,147,.25);
	margin-left:80px;
	margin-right:80px;
	margin-bottom:30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	word-wrap:break-word;
}

.cardDifficulty,#cardDifficulty {
	text-align: right;
	padding-right: 20px;
	padding-top: 5px;
}

/*\	
|*|		:: >>The following is the CSS for how a card will be displayed in deck creation<< ::		
\*/

#UserCards {
	width: 98%;
	max-width: 98%;
	word-wrap: break-word;
}

.deckCreateDiv {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0px 20px 0px 20px;
}

.card.deckCreate {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 24px;
	text-align: center;
	font-size: 1em;
	-moz-border-radius: 18px;
  	-webkit-border-radius: 18px;
  	border:5px ridge rgb(188,188,188);
	background-color: rgba(0,113,147,.25);		
	/*font-family: "VT323", cursive;*/
	display: none;
}

.cardDifficulty.deckCreate {
	display: block;
}

.cardTitles.deckCreate {
	border-bottom:2px groove rgb(188,188,188);
	background-color:rgba(0,113,147,.45);
	margin:-8px;
	-moz-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-top-right-radius: 12px;
	-webkit-border-top-left-radius: 12px;
}

.cardCategory.deckCreate {
	position:relative;
	display:inline-block;
	font-size:2.4em;			
}

.cardSubcategory.deckCreate {
	position:relative;
	display:inline-block;
	font-size:1.8em;
}

.cat.deckCreate{
	margin-top:-4px;
	margin-bottom:8px;
}

.cardQuestion.deckCreate {
	position:relative;
	font-size:1.4em;
	margin-top:32px;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:5px;
	text-align:center;
}

.cardAnswer.deckCreate{
	position:relative;
	font-size:1em;
	border:4px outset rgb(233,233,233);
	padding:10px;
	background-color: rgba(0,113,147,.25);
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.cardDifficulty.deckCreate {
	text-align: right;
	padding-right: 16px;
	padding-top: 5px;
}

/*\	
|*|		:: >>The following is the CSS for how a card will be displayed in deck edit<< ::		
\*/

#deckCards,#userCards {
	width: 98%;
	max-width: 98%;
	word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.semiCard {
	display:inline-block;
	word-wrap: break-word;
	vertical-align: top;
	text-align: center;
	width: 30%;
	margin: 0px 20px 20px 20px;
	background-color: rgba(0,133,167,.35);
	font-size:1em;
	border:4px outset rgb(233,233,233);
	padding:10px;
	-moz-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-top-right-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	-moz-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
}

.semiCard input {
	position: relative;
	display:block;
	margin-bottom:-1em;
}

/*\
|*|		:: >>Game mode specifics<< ::
\*/

#gameSelections {
	text-align: center;
}

#gameSelections select {
	font-size: 2em;
	height: 1.5em;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	font-family: 'VT323', cursive;
	border: 3px solid rgb(50,153,187);
}

#begin {
	font-size: 4em;
	font-family: 'VT323', cursive;
	height:1.25em;
	-moz-border-top-left-radius: 16px;
	-webkit-border-top-right-radius: 16px;
	-moz-border-top-right-radius: 16px;
	-webkit-border-top-left-radius: 16px;
	-moz-border-bottom-left-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	-moz-border-bottom-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	margin: .5em;
	border-width: 5px;
}

#begin:hover {
	cursor: pointer;
}