/* 
 * This file contains the CSS associated for the main theme across 
 * all html pages along with specific CSS for index.html
 */

body {
	background-color:rgb(188,188,188);
	color: rgb(255,153,0);
}

h1,p {
	color: rgb(66,66,66);
}

label {
	margin-right: 1em;
}

button {
	color: rgb(50,153,187);
}

input,select,option {
	color: rgb(255,153,0);
}

#logInSection {
	/*position: absolute;*/
	/*display:inline;*/
	/*left:1290px;*/
	float: right;
	background-color:rgb(66,66,66);
	width: 285px;
}

#logInDiv {
	background-color: rgb(66,66,66);
}

#createAccountSection{
	margin-top: 180px;
	float:right;
	margin-right: -285px;
	width: 285px;
}

#createAccountSection h1{
	text-align: center;
	color: rgb(255,153,0);
}

#createAccountDiv {
	background-color:rgb(66,66,66);
}

#submitCard {
	color: rgb(66,66,66);
}

#submitCard option,input,select{
	color: rgb(66,66,66);
}