#subContent {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:98%;
	margin-bottom: 25px;
}

#userProfile {
	border: 3px groove rgb(50,153,187);
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

#avatar {
	display: inline;
}

#userName {
	display: inline;
	font-size: 3em;
}

#newsFeed {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-right: -1%;
}

#subContent .semiCard {
	width: 43%;
	margin: 0px 5px 20px 5px;
}
